<template>
  <q-card>
    <q-card-section class="Radiation">
      <div>
        <q-input
          v-model.number="characterSheet.radResistance"
          type="number"
          label="RAD RESISTANCE"
          debounce="500"
        />
        <q-input
          v-model.number="characterSheet.rads"
          type="number"
          label="RADS"
          debounce="500"
        />
      </div>

      <div>
        <div
          v-for="(b, i) in buttons"
          :key="b"
        >
          <q-btn
            round
            @click="buttons[i].showInfo.value = true"
          >
            <q-icon :name="b.icon" />
            &nbsp;{{ characterSheet[b.key] === 'Special' ? 'S' : characterSheet[b.key] }}
            <q-tooltip
              anchor="top middle"
              self="bottom middle"
              :offset="[10, 10]"
            >
              {{ b.title }} Level
            </q-tooltip>
          </q-btn>

          <q-dialog v-model="buttons[i].showInfo.value">
            <Info
              :data="b.data"
              :prop="b.key"
              :title="b.title"
            />
          </q-dialog>
        </div>
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
import { ref } from 'vue'

import { useCharacterSheet } from 'src/stores/characterSheet'

import Info from './Info.vue'

const radiationLevels = window.$fallout.requestData('conditions/radiation')
const thirstLevels = window.$fallout.requestData('conditions/thirst')
const hungerLevels = window.$fallout.requestData('conditions/hunger')
const fatigueLevels = window.$fallout.requestData('conditions/fatigue')

export default {
  components: { Info },
  setup() {
    return {
      characterSheet: useCharacterSheet(),
      radiationLevels,
      thirstLevels,

      buttons: [
        {
          key: 'hunger',
          title: 'Hunger',
          icon: 'fa-solid fa-utensils',
          data: hungerLevels,
          showInfo: ref(false),
        },
        {
          key: 'thirst',
          title: 'Thirst',
          icon: 'fa-solid fa-droplet',
          data: thirstLevels,
          showInfo: ref(false),
        },
        {
          key: 'radLevel',
          title: 'Radiation',
          icon: 'fa-solid fa-circle-radiation',
          data: radiationLevels,
          showInfo: ref(false),
        },
        {
          key: 'fatigue',
          title: 'Fatigue',
          icon: 'fa-solid fa-lungs',
          data: fatigueLevels,
          showInfo: ref(false),
        },
      ],
      showRadiationInfo: ref(false),
      showThirstInfo: ref(false)
    };
  },
}
</script>

<style lang="scss" scoped>
.Radiation {
  display: flex;
  align-items: center;
  > * {
    padding: 10px;
  }
  > *:first-child {
    width: 70%;
  }

  > *:last-child {
    width: 30%;
    line-height: 60px;
  }
}
</style>
