<template>
  <q-card>
    <q-card-section class="row right q-pb-none">
      <div class="text-h6">{{ title.toUpperCase() }} LEVELS</div>

      <q-space />

      <q-btn
        icon="close"
        flat
        round
        dense
        v-close-popup
      />
    </q-card-section>

    <q-card-section>
      <dl
        class="InfoLevels"
        v-for="r in data"
        :key="r"
      >

        <dt>
          <q-radio
            dense
            color="red"
            v-model="characterSheet[prop]"
            :val="r.level"
            :label="title + ' level: ' + r.level"
          />
        </dt>
        <dd v-text="r.details" />
      </dl>
    </q-card-section>
  </q-card>
</template>

<script>
import { useCharacterSheet } from 'src/stores/characterSheet'

export default {
  props: {
    data: {
      type: Array,
      required: true
    },
    prop: {
      type: String,
      required: true
    },
    title: {
      type: String,
      default: ''
    }
  },
  setup() {
    return {
      characterSheet: useCharacterSheet()
    }
  }
}
</script>

<style lang="scss" scoped>
.InfoLevels {
  display: flex;

  > * {
    padding: 5px;
  }

  > dt {
    font-weight: bold;
    width: 150px;
  }

  > dd {
    justify-self: flex-start !important;
    width: 100%;
    border-bottom: 1px solid #ccc;
  }
}
</style>
