<template>
  <div>
    <VSearchAndAdd
      v-model="characterSheet.weapons"
      :properties="properties"
      @dialog-closed="resetDialog"
    >
      <template #boxHeader>
        <WeaponTable
          :row="title"
          no-info
          title-row
          bold
        />
      </template>
      <template #boxRow="{ row, index }">
        <WeaponTable
          :row="row"
          @update:row="updateWeapon(index, $event)"
          @remove-weapon="removeWeapon(index)"
        />
      </template>

      <template #searchFilters>
        <q-select
          label="Type"
          v-model="type"
          :options="weaponTypes"
          icon="filter-alt"
        />

        <q-select
          v-if="categories.length"
          label="Category"
          v-model="category"
          :options="categories"
          icon="filter-alt"
        />
      </template>

      <template #searchRow="{ row }">
        <q-field
          class="SearchRow"
          borderless
          dense
          :hint="row.type + ' | ' + row.category"
          stack-label
        >
          <template v-slot:control>
            <div class="SearchRow-content">
              <div
                class="self-center full-width no-outline"
                tabindex="0"
                v-text="row.name"
              />
              <div
                class="self-center full-width no-outline"
                tabindex="0"
              >
                Cost: {{ row.cost }} caps
              </div>
            </div>
          </template>
        </q-field>
      </template>

      <template #resultDetails="{ result }">
        <q-card
          class="Weapon-resultDetails"
          v-if="result"
        >
          <ResultTable
            :columns="resultColumns"
            :data="[result]"
          />
        </q-card>
      </template>
    </VSearchAndAdd>
  </div>
</template>

<script>
import { useCharacterSheet } from 'src/stores/characterSheet'
import { computed, ref, watch } from 'vue'


import VSearchAndAdd from '../../VBase/VSearchAndAdd/index.vue'
import ResultTable from './ResultTable.vue'
import WeaponTable from './WeaponTable.vue'

const { WEAPON_TYPES, WEAPON_CATEGORIES } = window.$fallout.requestData('constants')
const bladed = window.$fallout.requestData('weapon/melee/bladed')
const blunt = window.$fallout.requestData('weapon/melee/blunt')
const mechanical = window.$fallout.requestData('weapon/melee/mechanical')
const unarmed = window.$fallout.requestData('weapon/unarmed')
const pistols = window.$fallout.requestData('weapon/ranged/pistols')
const smgs = window.$fallout.requestData('weapon/ranged/smgs')
const shotguns = window.$fallout.requestData('weapon/ranged/shotguns')
const rifles = window.$fallout.requestData('weapon/ranged/rifles')
const bigGuns = window.$fallout.requestData('weapon/ranged/bigGuns')
const energyWeapons = window.$fallout.requestData('weapon/ranged/energyWeapons')
const placed = window.$fallout.requestData('weapon/explosives/placed')
const throwable = window.$fallout.requestData('weapon/explosives/throwable')

const melee = [
  ...bladed,
  ...blunt,
  ...mechanical,
]

const ranged = [
  ...pistols,
  ...smgs,
  ...shotguns,
  ...rifles,
  ...bigGuns,
  ...energyWeapons,
]

const explosives = [
  ...placed,
  ...throwable,
]

const all = [
  ...melee,
  ...unarmed,
  ...ranged,
  ...explosives,
]

export default {
  setup() {
    const characterSheet = useCharacterSheet()
    const type = ref('all')
    const category = ref(undefined)

    watch(type, (newValue) => {
      category.value = newValue === 'all' || newValue === 'unarmed' ? undefined : 'any'
    })

    function resetDialog() {
      type.value = 'all'
    }

    const categories = computed(() => WEAPON_CATEGORIES[type.value] || [])

    const resultColumns = [
      { align: 'left', field: 'name', name: 'name', label: 'Weapon Name' },
      { align: 'left', field: 'AP', name: 'AP', label: 'AP', style: 'width: 50px;' },
      { align: 'left', field: 'damage', name: 'damage', label: 'Damage' },
      { align: 'left', field: 'range', name: 'range', label: 'Range', style: 'width: 50px' },
      { align: 'left', field: 'crit', name: 'crit', label: 'Crit' },
    ]

    const dialogTitle = computed(() =>
      `Search ${type.value !== 'all' ? 'for ' + type.value : ''} ` +
      `${category.value && category.value != 'any' ? '(' + category.value + ')' : ''} Weapons`)

    function removeWeapon(i) {
      characterSheet.weapons.splice(i, 1)
    }

    function updateWeapon(i, { key, value }) {
      characterSheet.weapons[i][key] = ref(value)
    }

    return {
      properties: {
        title: 'WEAPONS',
        data: all,
        dialogTitle,
        props: {
          mods: [],
          condition: 0,
          equippedSlot: -1,
        },
        filterCallback: val => (it) => {
          return (type.value !== 'all' ? it.type === type.value : true) &&
            (category.value && category.value !== 'any' ? it.category === category.value : true) &&
            it.name.toLowerCase().indexOf(val.toLowerCase()) > -1
        }
      },

      category,
      categories,
      removeWeapon,
      resetDialog,
      resultColumns,
      title: ['name', 'damage', 'range', 'carryLoad']
        .reduce((obj, it) => {
          obj[it] = it === 'damage'
            ? 'DMG'
            : (it === 'carryLoad' ? 'LOAD' : it.toUpperCase())
          return obj
        }, {}),
      type,
      updateWeapon,
      characterSheet,
      weaponTypes: WEAPON_TYPES,
    };
  },
  components: { VSearchAndAdd, ResultTable, WeaponTable }
}
</script>

<style lang="scss" scoped>
.Weapon-resultDetails {
  margin-top: 10px;
}
.SearchRow {
  width: 100%;
  border-bottom: 1px solid #ccc;

  &-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
</style>
