<template>
  <q-table
    dense
    :columns="columns.concat({ field: 'info', name: 'info', label: '' })"
    :rows="data"
    row-key="_uid"
    hide-bottom
    hide-top
  >
    <template v-slot:body-cell-range="{ value }">
      <q-td v-text="value || '-'" />
    </template>

    <template v-slot:body-cell-info="{ row }">
      <q-td>
        <q-btn
          class="InfoButton"
          icon="info"
          size="sm"
          flat
          style="padding: 0 5px;"
          @click="showMoreInfo = true"
        />
        <q-dialog v-model="showMoreInfo">
          <VMoreInfo
            :data="row"
            title="WEAPON INFO"
          />
        </q-dialog>
      </q-td>
    </template>
  </q-table>
</template>

<script>
import { ref } from 'vue'

import VMoreInfo from 'src/components/VBase/VMoreInfo.vue'

export default {
  props: {
    columns: {
      type: Array,
      default: () => []
    },
    data: {
      type: Array,
      default: () => []
    }
  },

  setup() {
    return {
      showMoreInfo: ref(false),
    };
  },

  components: { VMoreInfo }
}
</script>

<style lang="scss" scoped>
</style>
