<template>
  <div class="WeaponTable">
    <div
      v-for="(k, i) in Object.keys(keys)"
      :key="k"
      :class="weaponTableClass(i)"
      :style="`width: ${keys[k]}%`"
    >
      <q-icon
        v-if="k === 'name' && row.equippedSlot > 0"
        class="TableColumn-icon"
        color="blue"
        :name="formatIcon(row.equippedSlot)"
      />

      {{ (typeof row[k] === 'number' || row[k] ? row[k] : '-' ) }}

      <q-popup-edit
        v-if="!titleRow"
        :model-value="row[k]"
        @update:modelValue="updateField(k, $event)"
        :title="`EDIT ${k.toUpperCase()}`"
        auto-save
        v-slot="scope"
      >
        <template v-if="isNumberField(k)">
          <q-input
            v-model.number="scope.value"
            dense
            autofocus
            type="number"
            @keyup.enter="scope.set"
          />
        </template>

        <template v-else>
          <q-input
            v-model="scope.value"
            dense
            autofocus
            @keyup.enter="scope.set"
          />
        </template>
      </q-popup-edit>

      <template v-if="!titleRow">
        <q-tooltip
          v-if="k === 'name' && row.equippedSlot > 0"
          anchor="top middle"
          self="bottom middle"
          :offset="[10, 10]"
          v-text="`${row[k]} is equipped to slot ${row.equippedSlot}`"
        />

        <q-tooltip
          v-else-if="row[k]"
          anchor="top middle"
          self="bottom middle"
          :offset="[10, 10]"
          v-text="typeof row[k] === 'number' || row[k] ? row[k] : '-' "
        />
      </template>

    </div>

    <div
      :class="modTableClass(row.type === 'explosive')"
      @click="showMods = true"
    >
      <q-btn
        size="xs"
        flat
        style="padding: 5px;"
      >
        <q-icon name="fa-solid fa-wrench" />

        <q-tooltip
          anchor="top middle"
          self="bottom middle"
          :offset="[10, 10]"
        >
          mods. {{ installedMods(row.mods) }}
        </q-tooltip>
      </q-btn>

      <q-dialog v-model="showMods">
        <ModsTable
          :mods="row.mods"
          :category="row.category || ''"
          :type="row.type"
          :name="row.name"
          @update:mods="updateMods"
          @remove-mod="removeMod"
        />
      </q-dialog>
    </div>

    <div :class="infoTableClass">
      <q-btn
        size="xs"
        flat
        style="padding: 5px;"
        @click="showMoreInfo = true"
      >
        <q-icon name="fa-solid fa-circle-info" />
      </q-btn>

      <q-dialog v-model="showMoreInfo">
        <VMoreInfo
          :data="row"
          enable-editing
          :omit="['mods']"
          title="WEAPON INFO"
          @update:data="updateField($event.key, $event.value)"
        />
      </q-dialog>
    </div>

    <div :class="infoTableClass">
      <q-btn
        class="DeleteButton"
        icon="delete"
        size="sm"
        flat
        style="padding: 0 5px;"
        @click="$emit('removeWeapon')"
      />
    </div>
  </div>
</template>

<script>
import { cloneDeep } from 'lodash'
import { ref, computed } from 'vue'

import { isNumberField } from 'src/utils/helpers'
import VMoreInfo from 'src/components/VBase/VMoreInfo.vue'
import ModsTable from './ModsTable/index.vue'

export default {
  props: {
    bold: {
      type: Boolean,
      default: false
    },

    noInfo: {
      type: Boolean,
      default: false
    },

    row: {
      type: Object,
      required: true
    },

    titleRow: {
      type: Boolean,
      default: false,
    },
  },

  setup(props, context) {
    return {
      formatIcon(number) {
        switch (number) {
          case 1: return 'looks_one'
          case 2: return 'looks_two'
          case 3: return 'looks_3'
        }
      },

      keys: {
        "name": 30,
        "damage": 25,
        "range": 20,
        "carryLoad": 15,
      },

      infoTableClass: computed(() => {
        return [
          'InfoTable',
          { 'isHidden': props.noInfo }
        ]
      }),

      installedMods(mods) {
        return mods.length
          ? ` (${mods.reduce((str, { name }, i) => str += (str ? ', ' : '') + name, '')})`
          : ''
      },

      isNumberField,

      modTableClass(isExplosive) {
        return [
          'InfoTable',
          { 'isHidden': props.noInfo || isExplosive }
        ]
      },

      showMods: ref(false),
      showMoreInfo: ref(false),

      updateMods(mods) {
        context.emit('update:row', { key: 'mods', value: cloneDeep(mods) })
      },

      removeMod({ index, mods }) {
        const _mods = cloneDeep(mods)
        _mods.splice(index, 1)
        context.emit('update:row', { key: 'mods', value: _mods })
      },

      updateField(name, value) {
        context.emit('update:row', { key: name, value: value })
      },

      weaponTableClass(i) {
        return [
          'TableColumn',
          {
            'TableColumn--borderLeft': i > 0,
          },
          {
            'TableColumn--bold': props.bold
          }]
      },
    };
  },
  components: { VMoreInfo, ModsTable }
}
</script>

<style lang="scss" scoped>
.WeaponTable {
  display: flex;
  width: 100%;

  .TableColumn {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;

    &-icon {
      padding-right: 5px;
    }

    &--borderLeft {
      border-left: 1px solid #ccc;
      padding: 0 5px;
    }

    &--bold {
      font-weight: bold;
    }
  }
}
.InfoTable {
  &.isHidden {
    visibility: hidden;
  }
}
</style>
