<template>
  <q-card class="ModsTable">
    <q-card-section class="row right q-pb-none">
      <div class="text-h6">{{ name.toUpperCase() }} MODS</div>

      <q-space />

      <q-btn
        icon="close"
        flat
        round
        dense
        v-close-popup
      />
    </q-card-section>
    <q-card-section>
      <VSearchAndAdd
        :properties="properties"
        :modelValue="mods"
        @update:modelValue="$emit('update:mods', $event)"
      >
        <template #boxRow="{ row, index }">
          <div class="flex ModTableResult">
            <div>
              <strong>{{ row.name }}</strong>
            </div>
            <div>-</div>
            <div>
              Rank: {{ row.rank || 1 }}
              <q-popup-edit
                :model-value="row.rank"
                @update:modelValue="updateMod(index, $event)"
                title="EDIT QUANTITY"
                auto-save
                v-slot="scope"
              >
                <q-input
                  v-model.number="scope.value"
                  dense
                  autofocus
                  type="number"
                  :max="3"
                  :min="1"
                  @keyup.enter="scope.set"
                />
              </q-popup-edit>
            </div>

            <ModsInfo
              class="InfoButton"
              :row="row"
            />

            <div>
              <q-btn
                class="DeleteButton"
                icon="delete"
                size="sm"
                flat
                style="padding: 0 5px;"
                @click="$emit('removeMod', { index, mods })"
              />
            </div>
          </div>
        </template>

        <template #searchRow="{row }">
          {{ row.name }}
        </template>

        <template #resultDetails="{ result }">
          <template v-if="result">
            <q-card class="flex ModInfo">
              <q-card-section>
                <q-icon name="info" />
              </q-card-section>

              <q-card-section>
                <strong>{{ result.name }} Upgrade</strong>
                <div class="flex ModInfo ModRanks">
                  <div>
                    <div>Rank</div>
                    <div>Rank</div>
                    <div>Rank</div>
                  </div>
                  <ol>
                    <li>{{ result.rank1 }}</li>
                    <li>{{ result.rank2 }}</li>
                    <li>{{ result.rank3 }}</li>
                  </ol>
                </div>
              </q-card-section>
            </q-card>
          </template>
        </template>
      </VSearchAndAdd>
    </q-card-section>
  </q-card>
</template>

<script>
import { cloneDeep } from 'lodash'
import { computed, ref } from 'vue'

import VSearchAndAdd from 'src/components/VBase/VSearchAndAdd/index.vue'
import ModsInfo from './ModsInfo.vue'

const upgrades = window.$fallout.requestData('armor/upgrades')

export default {
  props: {
    mods: {
      type: Array,
      required: true
    },
    name: {
      type: String,
      required: true
    }
  },

  setup(props, context) {
    return {
      properties: computed(() => ({
        data: upgrades,
        dialogTitle: 'Search mods',
        props: { rank: 1 },
      })),

      updateMod(index, rank) {
        const mods = cloneDeep(props.mods)
        mods[index].rank = rank
        context.emit('update:mods', mods)
      },

      upgrades
    }
  },

  components: { VSearchAndAdd, ModsInfo }
}
</script>

<style lang="scss" scoped>
.ModsTable {
  width: 30%;
}

.ModInfo {
  align-items: center;

  > * {
    &:first-child {
      width: 5%;
    }

    &:last-child {
      width: 90%;
    }
  }
}
.ModRanks {
  // justify-content: space-between;

  > * {
    &:last-child {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.ModTableResult {
  align-items: flex-end;

  > div {
    padding: 0 5px;
  }
}
</style>
