<template>
  <VSearchAndAdd
    v-model="characterSheet.ammo"
    class="Ammo"
    :properties="properties"
  >
    <template #boxRow="{ row, index }">
      <div class="AmmoRow">
        <div v-text="row.name" />

        <div class="AmmoRow-form">
          <q-input
            v-model="row.quantity"
            borderless
            class="AmmoRow-input"
            dense
            filled
            square
            type="number"
            lazy-rules
          />

          <AmmoInfo
            :row="row"
            @update:ammo="updateAmmo(index, $event)"
          />

          <q-btn
            class="DeleteButton"
            icon="delete"
            size="sm"
            flat
            style="padding: 0 5px;"
            @click="removeAmmo(index)"
          />
        </div>
      </div>
    </template>

    <template #searchRow="{ row }">
      <div style="display: flex; width: 100%; justify-content: space-evenly;">
        {{ row.name }} (pack size: {{ row.packSize }})
      </div>
    </template>

    <template #resultDetails="{ result }">
      <q-card
        class="Ammo-resultDetails"
        v-if="result"
      >
        <q-card-section class="AmmoSearchSection">
          <dl>
            <template
              v-for="key in Object.keys(result)"
              :key="key"
            >
              <dt v-text="formatSearchResult(key)" />
              <dd v-text="result[key]" />
            </template>
          </dl>
        </q-card-section>
      </q-card>
    </template>
  </VSearchAndAdd>
</template>

<script>
import { ref } from 'vue'
import { decamelize } from 'humps'
import { omit } from 'lodash'

import { useCharacterSheet } from 'src/stores/characterSheet'

import VSearchAndAdd from '../VBase/VSearchAndAdd/index.vue'
import AmmoInfo from './AmmoInfo.vue'

const ammoData = window.$fallout.requestData('weapon/ranged/ammo')

export default {
  setup() {
    const characterSheet = useCharacterSheet()
    const ammo = ref([])
    return {
      properties: {
        title: 'AMMO',
        dialogTitle: 'Search for Ammo',
        props: {
          quantity: 1
        },
        data: ammoData,
      },

      hasResult: ref(false),

      ammo,

      removeAmmo(i) {
        characterSheet.ammo.splice(i, 1)
      },

      formatSearchResult(key) {
        return decamelize(key, { separator: ' ' }).toUpperCase()
      },

      updateAmmo(index, { key, value }) {
        console.log(characterSheet.ammo[index][key])
        characterSheet.ammo[index][key] = value
      },

      prompt: ref(false),
      showMoreInfo: ref(false),
      characterSheet,
      address: ref("")
    };
  },
  components: { VSearchAndAdd, AmmoInfo }
}
</script>

<style lang="scss" scoped>
.Ammo {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  height: 260px;
  overflow: auto;
  border: 1px solid #ccc;

  .AmmoRow {
    padding: 5px 0 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-input {
      width: 55px;
    }

    &-form {
      display: flex;

      .DeleteButton {
        margin-left: 5px;
      }
    }
  }

  &-title {
    padding: 0 5px;
  }
  &-list {
  }

  &-addButton {
    padding-top: 5px;
    align-self: flex-end;
  }

  &-resultDetails {
    margin-top: 10px;

    .AmmoSearchSection {
      padding: 5px;

      dl {
        display: grid;
        grid-template-columns: 0.4fr auto;
        margin: 0;

        dt {
          font-weight: bold;
        }
      }
    }
  }
}
</style>
