<template>
  <div class="BoxTable">
    <div
      v-for="(k, i) in Object.keys(keys)"
      :key="k"
      :class="boxTableClass(i)"
      :style="`width: ${keys[k]}%`"
    >
      {{ (typeof row[k] === 'number' || row[k] ? row[k] : '-' ) }}

      <q-popup-edit
        v-if="!titleRow"
        :model-value="row[k]"
        @update:modelValue="updateField(k, $event)"
        :title="`EDIT ${k.toUpperCase()}`"
        auto-save
        v-slot="scope"
      >
        <template v-if="isNumberField(k)">
          <q-input
            v-model.number="scope.value"
            dense
            autofocus
            type="number"
            @keyup.enter="scope.set"
          />
        </template>

        <template v-else>
          <q-input
            v-model="scope.value"
            dense
            autofocus
            @keyup.enter="scope.set"
          />
        </template>
      </q-popup-edit>

      <q-tooltip
        v-if="!titleRow && row[k]"
        anchor="top middle"
        self="bottom middle"
        :offset="[10, 10]"
        v-text="typeof row[k] === 'number' || row[k] ? row[k] : '-' "
      />
    </div>

    <div :class="infoTableClass">
      <q-btn
        size="xs"
        flat
        style="padding: 5px;"
        @click="showMoreInfo = true"
      >
        <q-icon name="fa-solid fa-circle-info" />
      </q-btn>

      <q-dialog v-model="showMoreInfo">
        <VMoreInfo
          :data="row"
          enable-editing
          title="EQUIPMENT INFO"
          @update:data="updateField($event.key, $event.value)"
        />
      </q-dialog>
    </div>

    <div :class="infoTableClass">
      <q-btn
        class="DeleteButton"
        icon="delete"
        size="sm"
        flat
        style="padding: 0 5px;"
        @click="$emit('removeItem')"
      />
    </div>
  </div>
</template>

<script>
import { cloneDeep } from 'lodash'
import { ref, computed } from 'vue'
import { isNumberField } from 'src/utils/helpers'
import VMoreInfo from 'src/components/VBase/VMoreInfo.vue'

export default {
  props: {
    bold: {
      type: Boolean,
      default: false
    },

    noInfo: {
      type: Boolean,
      default: false
    },

    row: {
      type: Object,
      required: true
    },

    titleRow: {
      type: Boolean,
      default: false,
    },
  },

  setup(props, context) {
    return {
      keys: {
        "name": 30,
        "cost": 20,
        "quantity": 20,
        "carryLoad": 20,
      },

      infoTableClass: computed(() => {
        return [
          'InfoTable',
          { 'isHidden': props.noInfo }
        ]
      }),

      installedMods(mods) {
        return mods.length
          ? ` (${mods.reduce((str, { name }, i) => str += (str ? ', ' : '') + name, '')})`
          : ''
      },

      isNumberField,

      showMoreInfo: ref(false),

      updateMods(mods) {
        context.emit('update:row', { key: 'mods', value: cloneDeep(mods) })
      },

      updateField(name, value) {
        const row = cloneDeep(props.row)
        row[name] = value
        context.emit('update:row', { key: name, value: value })
      },

      boxTableClass(i) {
        return [
          'TableColumn',
          {
            'TableColumn--borderLeft': i > 0,
          },
          {
            'TableColumn--bold': props.bold
          }]
      },
    };
  },
  components: { VMoreInfo }
}
</script>

<style lang="scss" scoped>
.BoxTable {
  display: flex;
  width: 100%;

  .TableColumn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &--borderLeft {
      border-left: 1px solid #ccc;
      padding: 0 5px;
    }

    &--bold {
      font-weight: bold;
    }
  }
}
.InfoTable {
  &.isHidden {
    visibility: hidden;
  }
}
</style>
