<template>
  <div>
    <VSearchAndAdd
      v-model="characterSheet.equipment"
      :properties="properties"
      @dialog-closed="resetDialog"
    >
      <template #boxHeader>
        <BoxTable
          :row="title"
          no-info
          title-row
          bold
        />
      </template>

      <template #boxRow="{ row, index }">
        <BoxTable
          :row="row"
          @update:row="updateItem(index, $event)"
          @remove-item="removeItem(index)"
        />
      </template>

      <template #searchFilters>
        <q-select
          label="Type"
          v-model="type"
          :options="equipmentTypes"
          icon="filter-alt"
        />
      </template>

      <template #searchRow="{ row }">
        {{ row.name }}
      </template>

      <template #resultDetails="{ result }">
        <q-card v-if="result">
          <ResultTable
            :columns="resultColumns"
            :data="[result]"
            VMoreInfoTitle="EQUIPMENT INFO"
          />
        </q-card>
      </template>
    </VSearchAndAdd>
  </div>
</template>

<script>
import { ref, computed } from 'vue'

import VSearchAndAdd from 'src/components/VBase/VSearchAndAdd/index.vue'
import { useCharacterSheet } from 'src/stores/characterSheet'

import ResultTable from './ResultTable.vue'
import BoxTable from './BoxTable.vue'

const chems = window.$fallout.requestData('equipment/chems')
const gear = window.$fallout.requestData('equipment/gear')
const medicine = window.$fallout.requestData('equipment/medicine')
const skillMagazines = window.$fallout.requestData('equipment/skillMagazines')
const cookedFood = window.$fallout.requestData('foodAndDrink/cookedFood')
const preMadeFood = window.$fallout.requestData('foodAndDrink/preMadeFood')
const drinks = window.$fallout.requestData('foodAndDrink/drinks')

export default {
  setup() {
    const characterSheet = useCharacterSheet()
    const type = ref('all')

    const eqp = {
      food: [...cookedFood, ...preMadeFood],
      drinks,
      chems,
      gear,
      medicine,
      skillMagazines,
    }

    const equipmentTypes = Object.keys(eqp)

    const data = equipmentTypes.reduce((arr, key) => {
      for (let i in eqp[key]) {
        eqp[key][i].type = key
      }
      return arr.concat(eqp[key])
    }, [])

    const dialogTitle = computed(() => `Search ${type.value !== 'all' ? 'for ' + type.value : 'all'}`)

    function removeItem(i) { characterSheet.equipment.splice(i, 1) }

    function resetDialog() { type.value = 'all' }

    function updateItem(i, { key, value }) {
      characterSheet.equipment[i][key] = ref(value)
    }

    return {
      properties: {
        title: "CHEMS/GEAR/FOOD/ETC.",
        data,
        dialogTitle,
        props: { quantity: 1 },
        filterCallback: val => (it) => {
          return (type.value !== 'all' ? it.type === type.value : true) &&
            it.name.toLowerCase().indexOf(val.toLowerCase()) > -1
        },
      },

      resultColumns: [
        { align: 'left', field: 'name', name: 'name', label: 'Item Name' },
        { align: 'left', field: 'cost', name: 'cost', label: 'Cost', style: 'width: 50px;' },
        { align: 'left', field: 'carryLoad', name: 'carryLoad', label: 'carryLoad' },
      ],

      characterSheet,
      equipmentTypes,
      removeItem,
      resetDialog,
      updateItem,
      title: ['name', 'cost', 'quantity', 'carryLoad']
        .reduce((obj, it) => {
          obj[it] = it === 'carryLoad' ? 'LOAD' : it.toUpperCase()
          return obj
        }, {}),
      type,
    }
  },

  components: { VSearchAndAdd, ResultTable, BoxTable }
}
</script>

<style lang="scss" scoped>
</style>
