<template>
  <div class="Load">
    <div class="Load-title">LOAD</div>

    <input
      class="Load-total"
      type="number"
      debounce="500"
      v-model.number="value"
    />

    <div class="Load-calculated">
      {{ characterSheet.calculatedLoad }}

      <q-tooltip
        anchor="top middle"
        self="bottom middle"
        :offset="[10, 10]"
        v-text="`You are carrying ${characterSheet.calculatedLoad} load`"
      />
    </div>
  </div>
</template>

<script>
import { ref, watch } from 'vue'
import { useCharacterSheet } from 'src/stores/characterSheet'

export default {
  props: {
  },


  setup() {
    const characterSheet = useCharacterSheet()

    const value = ref(characterSheet.carryLoad)

    watch(value, (newValue) => { characterSheet.carryLoad = parseInt(newValue) })

    return { characterSheet, value }
  }
}
</script>

<style lang="scss" scoped>
.Load {
  width: 55px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #cccc;
  padding: 0 50px;

  &-title {
    font-weight: bolder;
  }
  &-total {
    width: 55px;
    height: 55px;
    border: 0px transparent;
    text-align: center;
  }
  &-calculated {
    display: flex;
    padding: 10px 15px;
    color: #bbb;
    border: 1px solid #ccc;
    margin-bottom: 5px;
  }
}
</style>
