<template>
  <div class="XP">
    <div class="XP-title">XP</div>

    <input
      class="XP-total"
      type="number"
      debounce="500"
      v-model.number="characterSheet.XP"
    />
  </div>
</template>

<script>
import { useCharacterSheet } from 'src/stores/characterSheet'

export default {
  props: {
  },

  setup() {
    return { characterSheet: useCharacterSheet() }
  }
}
</script>

<style lang="scss" scoped>
.XP {
  width: 150px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #cccc;
  padding: 0 50px;

  &-title {
    font-weight: bolder;
  }
  &-total {
    width: 140px;
    height: 55px;
    border: 0px transparent;
    text-align: center;
  }
  &-calculated {
    display: flex;
    padding: 10px 15px;
    color: #bbb;
    border: 1px solid #ccc;
    margin-bottom: 5px;
  }
}
</style>
