<template>
  <fieldset class="EquippedArmor">
    <Dialog
      v-model="searchArmor"
      :current-list="[equippedArmor]"
      :properties="properties"
      @chosen="assignArmor($event)"
    >
      <template #searchRow="{ row }">
        {{ row.name }}
      </template>

      <template #resultDetails="{ result }">
        <template v-if="result">

          <q-card-section>
            {{ result.name }} | DT: {{ result.DT }} | Weight when worn: {{ result.wearLoad }} | No. mods: {{ result.mods.length }}
            <q-btn
              icon="info"
              size="sm"
              flat
              style="padding: 0 5px;"
              @click="showMoreInfo = true"
            />
          </q-card-section>

          <q-dialog v-model="showMoreInfo">
            <VMoreInfo
              :data="result"
              title="ARMOR INFO"
            />
          </q-dialog>
        </template>
      </template>
    </Dialog>

    <legend>
      ARMOR&nbsp;
      <q-btn
        :disabled="!characterSheet.armors.length"
        round
        size="xs"
        color="secondary"
        icon="exit_to_app"
        title="EQUIP ARMOR"
        @click="startSearch()"
      />
      &nbsp;
      <q-btn
        :disabled="!equippedArmor.name"
        round
        size="xs"
        color="secondary"
        icon="output"
        title="UNEQUIP ARMOR"
        @click="unequip()"
      />
    </legend>
    <div class="EquippedArmor-info">
      <template v-if="equippedArmor.name">
        {{ equippedArmor.name }}

        <q-btn
          icon="info"
          size="sm"
          flat
          style="padding: 0 5px;"
          @click="showMoreInfo = true"
        />

        <q-dialog v-model="showMoreInfo">
          <VMoreInfo
            :data="equippedArmor"
            title="ARMOR INFO"
          />
        </q-dialog>
      </template>
      <template v-else>
        - NONE -
      </template>
    </div>
  </fieldset>
</template>

<script>
import { computed, onMounted, ref, watch } from 'vue'

import { useCharacterSheet } from 'src/stores/characterSheet'

import VMoreInfo from '../VBase/VMoreInfo.vue'
import Dialog from '../VBase/VSearchAndAdd/Dialog.vue'

export default {
  setup() {
    const characterSheet = useCharacterSheet()

    const equippedArmor = ref({})
    const searchArmor = ref(false)

    function unequip() {
      const oldIndex = characterSheet.armors.findIndex(({ equipped }) => equipped)
      if (oldIndex > -1) {
        characterSheet.armors[oldIndex].equipped = false
      }
      equippedArmor.value = {}
    }

    function assignArmor(armor) {
      unequip()

      const newIndex = characterSheet.armors.findIndex(({ _uid }) => _uid === armor._uid)
      if (newIndex > -1) {
        characterSheet.armors[newIndex].equipped = true
        equippedArmor.value = characterSheet.armors[newIndex]
      }
    }

    function equip() {
      const i = characterSheet.armors.findIndex(({ equipped }) => equipped)
      if (i > -1) equippedArmor.value = characterSheet.armors[i]
      else equippedArmor.value = {}
    }

    onMounted(() => { equip() })

    const properties = computed(() => ({
      data: characterSheet.heldArmor,
      dialogTitle: 'CHOOSE ARMOR TO WEAR FROM YOUR INVENTORY'
    }))

    watch(properties, ({ data }) => {
      if (data.findIndex(({ equipped }) => equipped) < 0) {
        equippedArmor.value = {}
      }
    }, { deep: true })

    return {
      properties,

      assignArmor,
      characterSheet,
      equippedArmor,
      searchArmor,
      showMoreInfo: ref(false),

      startSearch() {
        searchArmor.value = true
      },
      unequip,
    };
  },
  components: { VMoreInfo, Dialog }
}
</script>

<style lang="scss" scoped>
.EquippedArmor {
  width: 90%;
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  overflow: auto;

  > legend {
    padding: 0 5px;
  }

  &-info {
    padding: 5px 0;
  }
}
</style>
