<template>
  <div class="CurrentlyEquipped">
    <Dialog
      v-model="searchWeapons"
      :current-list="rows"
      :properties="properties"
      @chosen="assignWeapon($event)"
    >
      <template #searchRow="{ row }">
        {{ row.name }}
      </template>

      <template #resultDetails="{ result }">
        <template v-if="result">

          <q-card-section>
            {{ result.name }} | AP: {{ result.AP }} | DMG: {{ result.damage }} | No. mods: {{ result.mods.length }}
            <q-btn
              icon="info"
              size="sm"
              flat
              style="padding: 0 5px;"
              @click="showMoreInfo = true"
            />
          </q-card-section>

          <q-dialog v-model="showMoreInfo">
            <VMoreInfo
              :data="result"
              title="WEAPON INFO"
            />
          </q-dialog>
        </template>
      </template>
    </Dialog>

    <q-table
      class="CurrentlyEquipped-wrapper"
      title="CURRENTLY EQUIPPED WEAPONS"
      :rows="rows"
      :columns="columns"
      row-key="name"
      hide-bottom
    >
      <template v-slot:body="props">
        <q-tr :props="props">

          <q-td
            v-for="col in columns"
            :key="col.name"
            :props="props"
          >
            <template v-if="col && col.name === 'actions'">
              <strong>{{ props.pageIndex + 1 }}.&nbsp;</strong>
              <q-btn
                :disabled="!characterSheet.weapons.length"
                round
                size="xs"
                color="secondary"
                icon="exit_to_app"
                :title="`EQUIP WEAPON TO SLOT ${props.pageIndex + 1}`"
                @click="startSearch(props.pageIndex)"
              />
              &nbsp;
              <q-btn
                :disabled="!props.row.name"
                round
                size="xs"
                color="secondary"
                icon="output"
                :title="`UNEQUIP WEAPON FROM SLOT ${props.pageIndex + 1}`"
                @click="unequip(props.pageIndex)"
              />
            </template>
            <template v-else>
              {{ col.type === 'number' || props.row[col.name] ?  props.row[col.name] : (props.row._uid ? '-' : '') }}
            </template>
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
import { decamelize } from 'humps'
import { computed, ref, onMounted, watch } from 'vue'

import { useCharacterSheet } from 'src/stores/characterSheet'
import Dialog from '../VBase/VSearchAndAdd/Dialog.vue'
import VMoreInfo from '../VBase/VMoreInfo.vue'

const { CURRENTLY_EQUIPPED } = window.$fallout.requestData('constants')

export default {
  components: { Dialog, VMoreInfo },
  setup() {
    const characterSheet = useCharacterSheet()

    const columns = Object.keys(CURRENTLY_EQUIPPED).reduce((arr, key) => {
      arr.push({
        name: key,
        field: key,
        align: 'left',
        label: CURRENTLY_EQUIPPED[key].type !== 'special' ? decamelize(key, { separator: '.' }).toUpperCase() : '',
        type: CURRENTLY_EQUIPPED[key].type,
        class: [
          'CurrentlyEquipped-field',
          { isNumber: CURRENTLY_EQUIPPED[key].type === 'number' }
        ]
      })
      return arr
    }, [])

    const currentIndex = ref(-1)
    const searchWeapons = ref(false)
    const rows = ref([
      {},
      {},
      {},
    ])

    function assignWeapon(item) {
      const i = characterSheet.weapons.findIndex(({ _uid }) => _uid === item._uid)
      const j = characterSheet.weapons.findIndex(({ equippedSlot }) => currentIndex.value + 1 === equippedSlot)

      if (j > -1) characterSheet.weapons[j].equippedSlot = -1
      characterSheet.weapons[i].equippedSlot = currentIndex.value + 1
      rows.value[currentIndex.value] = characterSheet.weapons[i] // in effect: subscribe to this store weapon.
    }

    function unequip(index) {
      const i = characterSheet.weapons.findIndex(({ _uid }) => _uid === rows.value[index]._uid)

      characterSheet.weapons[i].equippedSlot = -1
      rows.value[index] = {} // in effect: unsubscribe
    }

    function startSearch(index) {
      currentIndex.value = index
      searchWeapons.value = true
    }

    onMounted(() => {
      for (let i in rows.value) {
        const index = characterSheet.weapons.findIndex(({ equippedSlot }) => {
          return parseInt(i) + 1 === equippedSlot
        })
        if (index > -1) rows.value[i] = characterSheet.weapons[index]
      }
    })

    const properties = computed(() => ({
      data: characterSheet.heldWeapons,
      dialogTitle: 'CHOOSE A WEAPON FROM YOUR INVENTORY',
    }))

    watch(properties, ({ data }) => {
      const slots = data
        .filter(({ equippedSlot }) => equippedSlot >= 0)
        .map(({ equippedSlot }) => equippedSlot - 1)

      for (let i = 0; i < 3; i++) {
        if (slots.find(it => it === i) === undefined) rows.value[i] = {}
      }
    }, { deep: true })

    return {
      properties,

      assignWeapon,
      characterSheet,
      columns,
      rows,
      currentIndex,
      searchWeapons,
      showMoreInfo: ref(false),
      startSearch,
      unequip,
    }
  }
}
</script>

<style lang="scss" scoped>
.CurrentlyEquipped {
  width: 100%;

  &-field {
    &.isNumber {
      width: 50px;
    }
  }
}
</style>
