<template>
  <div class="SkillNumber">
    <q-input
      dense
      v-model.number="characterSheet.skills[name]"
      class="SkillNumber-input"
      debounce="500"
      type="number"
      lazy-rules
    />

    <div class="SkillNumber-title">
      <span v-text="title" />
      &nbsp;
      <span v-text="formattedSpecials" />
    </div>
  </div>
</template>

<script>
import { decamelize } from 'humps'
import { ref, computed } from 'vue'

import { useCharacterSheet } from 'src/stores/characterSheet'

export default {
  props: {
    name: {
      type: String,
      required: true,
    },

    specials: {
      type: Array,
      default: () => []
    },
  },

  setup(props) {
    return {
      characterSheet: useCharacterSheet(),

      formattedSpecials: computed(() =>
        `(${props.specials?.reduce((str, it, i) => str += (i > 0 ? ' OR ' : '') + it?.substr(0, 3)?.toUpperCase(), '')})`),

      title: decamelize(props.name, { separator: ' ' }).toUpperCase(),
    }
  }
}
</script>

<style lang="scss" scoped>
.SkillNumber {
  display: flex;
  align-items: flex-end;
  padding-top: 5px;
  height: 40px;

  &-title {
    font-weight: bolder;
    padding-left: 10px;

    > *:first-child {
      font-size: 18px;
    }
    > *:last-child {
      font-size: 14px;
      color: #bbb;
    }
  }

  &-input {
    width: 55px;
  }
}
</style>
