<template>
  <div>
    <SkillNumber
      v-for="s in skills"
      :key="s.name"
      :name="s.name"
      :specials="s.specials"
    />
  </div>
</template>

<script>
import { ref } from 'vue'

import SkillNumber from './SkillNumber.vue'

const { SKILLS } = window.$fallout.requestData('constants')

export default {
  setup() {
    const skills = SKILLS
    return { skills };
  },
  components: { SkillNumber }
}
</script>

<style lang="scss" scoped>
</style>
