<template>
  <dl>
    <template
      v-for="k in keys"
      :key="k"
    >
      <dt>
        {{ k.toUpperCase() }}
      </dt>

      <dd
        dense
        autofocus
        counter
      >
        {{ characterSheet[k] || '-' }}

        <q-popup-edit
          v-model="characterSheet[k]"
          :title="`EDIT ${k.toUpperCase()}`"
          auto-save
          v-slot="scope"
        >
          <q-input
            v-model="scope.value"
            dense
            autofocus
            :type="k === 'level' ? 'number' : ''"
            counter
            @keyup.enter="scope.set"
          />
        </q-popup-edit>

        <q-tooltip
          v-if="characterSheet[k]"
          anchor="top middle"
          self="bottom middle"
          :offset="[10, 10]"
          v-text="characterSheet[k]"
        />
      </dd>
    </template>
  </dl>
</template>

<script>
import { useCharacterSheet } from 'src/stores/characterSheet'

const { BASIC } = window.$fallout.requestData('constants')

export default {
  setup() {
    return {
      keys: BASIC,
      characterSheet: useCharacterSheet()
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
