<template>
  <dl class="Job">
    <dt>JOB</dt>
    <dd>
      {{ characterSheet.job || '-' }}

      <q-popup-edit
        v-model="characterSheet.job"
        title="EDIT JOB"
        auto-save
        v-slot="scope"
      >
        <q-input
          v-model="scope.value"
          dense
          autofocus
          counter
          @keyup.enter="scope.set"
        />
      </q-popup-edit>

      <q-tooltip
        v-if="characterSheet.job"
        anchor="top middle"
        self="bottom middle"
        :offset="[10, 10]"
        v-text="characterSheet.job"
      />
    </dd>
  </dl>
  <dl>
    <template
      v-for="(d, i) in details"
      :key="d"
    >
      <dt v-text="detailLabel[i]" />
      <dd class="Detail">
        {{ characterSheet[d] || '-' }}

        <q-popup-edit
          v-model="characterSheet[d]"
          :title="`EDIT ${detailLabel[i]}`"
          auto-save
          v-slot="scope"
        >
          <div class="Detail-text">
            <textarea
              v-model="scope.value"
              dense
              autofocus
              counter
            />

            <q-btn
              class="CloseButton"
              v-close-popup
              @click="scope.set"
            >
              close
            </q-btn>
          </div>
        </q-popup-edit>

        <q-tooltip
          v-if="characterSheet[d]"
          anchor="top middle"
          self="bottom middle"
          :offset="[10, 10]"
          v-text="characterSheet[d]"
        />
      </dd>
    </template>
  </dl>
</template>

<script>
import { decamelize } from 'humps'

import { useCharacterSheet } from 'src/stores/characterSheet'

const { DETAILS } = window.$fallout.requestData('constants')

export default {
  setup() {
    const details = DETAILS.filter(it => it !== 'job')

    return {
      characterSheet: useCharacterSheet(),
      details,
      detailLabel: details.map(it => decamelize(it, { separator: ' ' }).toUpperCase()),
    }
  }
}
</script>

<style lang="scss" scoped>
.Detail {
  white-space: pre-wrap;
  overflow: hidden;
  height: 100px;
  text-overflow: ellipsis;

  &-text {
    display: flex;
    align-items: flex-end;

    textarea {
      width: 250px;
      height: 100px !important;
      margin-right: 10px;
    }

    .CloseButton {
      height: 50px;
    }
  }
}

.Job {
  line-height: 50px;
  margin-bottom: 20px;
}
</style>
