<template>

  <q-card>
    <q-card-section
      class="row right q-pb-none"
      v-if="!noHeader"
    >
      <div class="text-h6">{{ title }}</div>

      <q-space />

      <q-btn
        icon="close"
        flat
        round
        dense
        v-close-popup
      />
    </q-card-section>

    <q-card-section class="InfoButtonSection">
      <dl>
        <template
          v-for="key in Object.keys(dataset)"
          :key="key"
        >
          <template v-if="key === 'special'">
            <dt v-text="formatSearchResultKey(key)" />
            <dd>
              <q-chip
                v-for="s in dataset[key]"
                :key="s"
                size="sm"
                color="teal"
                text-color="white"
              >
                {{ s }}
                <q-tooltip
                  anchor="top middle"
                  self="bottom middle"
                  :offset="[10, 10]"
                >
                  <div style="font-size: 14px; width: 500px">
                    {{specialEffects[s]}}
                  </div>
                </q-tooltip>
              </q-chip>
            </dd>
          </template>

          <template v-else>
            <dt v-text="formatSearchResultKey(key)" />
            <dd :class="isEditable(key) ? 'isEditable' : ''">
              <div v-html="formatSearchResult(dataset[key], key)" />

              <q-icon
                name="edit"
                v-if="isEditable(key)"
                color="teal"
              />

              <q-popup-edit
                v-if="isEditable(key)"
                :model-value="data[key]"
                @update:modelValue="updateField(key, $event)"
                :title="`EDIT ${key.toUpperCase()}`"
                auto-save
                v-slot="scope"
              >
                <template v-if="isNumberField(key)">
                  <q-input
                    v-model.number="scope.value"
                    dense
                    autofocus
                    type="number"
                    @keyup.enter="scope.set"
                  />
                </template>

                <template v-else>
                  <q-input
                    v-model="scope.value"
                    dense
                    autofocus
                    @keyup.enter="scope.set"
                  />
                </template>
              </q-popup-edit>
            </dd>
          </template>
        </template>
      </dl>
    </q-card-section>
  </q-card>
</template>

<script>
import { computed } from 'vue'
import { decamelize } from 'humps'
import { omit as _omit } from 'lodash'

import { isNumberField } from 'src/utils/helpers'

const specialEffects = window.$fallout.requestData('weapon/ranged/specialEffects')

export default {
  props: {
    data: {
      type: Object,
      required: true
    },

    enableEditing: {
      type: Boolean,
      default: false
    },

    title: {
      type: String,
      default: 'MORE INFO'
    },

    omit: {
      type: Array,
      default: () => []
    },

    noHeader: {
      type: Boolean,
      default: false
    },
    listDetails: {
      type: Boolean,
      default: false
    }
  },

  setup(props, context) {
    return {
      formatSearchResultKey(key) {
        return decamelize(key, { separator: " " }).toUpperCase().replace("CARRY ", "");
      },

      formatSearchResult(value, key) {
        return key === 'equippedSlot' && value < 1
          ? 'UNEQUIPPED'
          : (Array.isArray(value)
            ? value.reduce((str, it, i) => str += (props.listDetails && i > 0 ? '<br>' : ' ') + it, '')
            : (typeof value === 'number' || value ? value : '-'))
      },

      dataset: computed(() => _omit(props.data, ['_uid', ...props.omit])),

      isNumberField,

      specialEffects,

      isEditable(key) {
        return props.enableEditing && !Array.isArray(props.data[key]) && key !== 'details' && key !== 'equippedSlot'
      },

      updateField(name, value) {
        context.emit('update:data', { key: name, value: value })
      },
    }
  }
}
</script>

<style lang="scss" scoped>
.InfoButton {
  align-self: center;
  justify-self: center;
}
.InfoButtonSection {
  padding: 10px;

  dl {
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 0;
    > * {
      line-height: 35px;
    }

    dd {
      color: #777;
      &.isEditable {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        border-bottom: 1px solid #ccc;
        color: #111;
      }
    }

    dt {
      font-weight: bold;
    }
  }
}
</style>
