<template>
  <q-card class="VMultiTextWrapper">
    <q-card-section>
      <strong v-text="label.toUpperCase() + (pluralizeTitle ? 'S' : '')" />
      <div
        v-for="(c, i) in characterSheet[prop]"
        :key="c._uid"
        class="VMultiText"
      >
        <q-input
          class="VMultiText-input"
          autogrow
          filled
          v-model="characterSheet[prop][i].value"
          debounce="500"
          :label="`${i + 1}. ${label}`"
        />

        <q-btn
          class="DeleteButton"
          icon="delete"
          size="sm"
          flat
          style="padding: 0 5px;"
          @click="removeItem(i)"
        />
      </div>
      <div class="VMultiTextWrapper-add">
        <q-btn
          class="AddButton"
          round
          size="xs"
          color="secondary"
          icon="add"
          @click="addItem"
        />
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
import { uniqueId } from 'lodash'
import { useCharacterSheet } from 'src/stores/characterSheet'

export default {
  props: {
    label: {
      type: String,
      required: true
    },

    prop: {
      type: String,
      required: true
    },

    pluralizeTitle: {
      type: Boolean,
      default: false
    }
  },

  setup(props) {
    const characterSheet = useCharacterSheet()

    return {
      characterSheet,

      addItem() {
        characterSheet[props.prop] =
          characterSheet[props.prop].concat({
            _uid: uniqueId(Date.now() + '_'),
            value: ''
          })
      },

      removeItem(i) {
        if (i > 0 || characterSheet[props.prop].length > 1) characterSheet[props.prop].splice(i, 1)
        else characterSheet[props.prop][0].value = ''
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.VMultiTextWrapper {
  display: flex;
  flex-direction: column;

  &-add {
    border-top: 1px solid #ccc;
    padding: 5px 0;
    margin: 10px 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  .VMultiText {
    display: flex;
    align-items: center;
    justify-content: center;

    &-input {
      width: 100%;
    }
  }
}
</style>
