<template>
  <q-page class="flex Fallout">
    <div class="CentreColumn">
      <div class="Special">
        <SpecialGroup />
      </div>

      <div class="Attributes">
        <AttributeGroup />
      </div>

      <div class="Current">
        <div class="Current--leftColumn">
          <EquippedArmor />
          <AmmoGroup />
          <Conditions />
          <div class="InfoButtons">
            <div class="DecayInfo">
              <q-btn
                icon="precision_manufacturing"
                @click="showDecayInfo = true"
                flat
              >
                &nbsp;View Decay Info
              </q-btn>

              <q-dialog v-model="showDecayInfo">
                <VMoreInfo
                  :data="levelsOfDecay"
                  title="Decay Info"
                  list-details
                />
              </q-dialog>
            </div>

            <div class="LevelInfo">
              <q-btn
                icon="workspace_premium"
                @click="showLevelInfo = true"
                flat
              >
                &nbsp;View Level Info
              </q-btn>

              <q-dialog v-model="showLevelInfo">
                <VMoreInfo
                  :data="levels"
                  title="Level Info"
                />
              </q-dialog>
            </div>

            <div class="TAInfo">
              <q-btn
                icon="fa-solid fa-crosshairs"
                @click="showTAInfo = true"
                flat
              >
                &nbsp;Targ Attack Info
              </q-btn>

              <q-dialog v-model="showTAInfo">
                <q-card>
                  <VMoreInfo
                    :data="[]"
                    title="Targeted Attack Info"
                  />
                  &nbsp;&nbsp;<strong class="Limb">HEAD:</strong>
                  <VMoreInfo
                    :data="targetedAttacks.head"
                    no-header
                    list-details
                  />
                  <hr />
                  &nbsp;&nbsp;<strong class="Limb">ARMS:</strong>
                  <VMoreInfo
                    :data="targetedAttacks.arms"
                    no-header
                    list-details
                  />
                  <hr />
                  &nbsp;&nbsp;<strong class="Limb">LEGS:</strong>
                  <VMoreInfo
                    :data="targetedAttacks.legs"
                    no-header
                    list-details
                  />
                </q-card>
              </q-dialog>
            </div>
          </div>
        </div>
        <div class="Current--rightColumn">
          <CurrentlyEquipped />
          <Pip />
        </div>
      </div>

      <div class="NotesAndTraits">
        <div class="TraitsAndPerks">
          <div>
            <VMultiText
              label="Trait"
              prop="traits"
              pluralize-title
            />
          </div>
          <div>
            <VMultiText
              label="Perk"
              prop="perks"
              pluralize-title
            />
          </div>
        </div>
        <div class="Notes">
          <VMultiText
            label="Note"
            prop="notes"
            pluralize-title
          />
        </div>
        <div class="Notes">
          <VMultiText
            label="NPC"
            prop="importantPeople"
            pluralize-title
          />
        </div>
        <div class="Notes">
          <VMultiText
            label="Place"
            prop="places"
            pluralize-title
          />
        </div>
      </div>
    </div>

  </q-page>
</template>

<script>
import { ref, defineComponent } from 'vue'
import { useCharacterSheet } from 'src/stores/characterSheet'

import AttributeGroup from 'src/components/Attributes/AttributeGroup.vue'
import Conditions from 'src/components/Conditions/index.vue'
import CurrentlyEquipped from 'src/components/CurrentlyEquipped/index.vue'
import SpecialGroup from 'src/components/Special/SpecialGroup.vue'
import AmmoGroup from '../components/Ammo/AmmoGroup.vue'
import Pip from 'src/components/Pip/index.vue'
import EquippedArmor from 'src/components/CurrentlyEquipped/EquippedArmor.vue'
import VMoreInfo from 'src/components/VBase/VMoreInfo.vue'
import VMultiText from 'src/components/VBase/VMultiText.vue'

const levelsOfDecay = window.$fallout.requestData('conditions/levelsOfDecay')
const levels = window.$fallout.requestData('levels')
const targetedAttacks = window.$fallout.requestData('targetedAttackModifiers')

export default defineComponent({
  name: 'IndexPage',
  components: {
    AttributeGroup,
    Conditions,
    CurrentlyEquipped,
    SpecialGroup,
    AmmoGroup,
    Pip,
    EquippedArmor,
    VMoreInfo,
    VMultiText
  },

  setup() {
    const characterSheet = useCharacterSheet()

    return {
      characterSheet,
      showDecayInfo: ref(false),
      showLevelInfo: ref(false),
      showTAInfo: ref(false),
      levels,
      levelsOfDecay,
      targetedAttacks
    }
  }
})
</script>

<style lang="scss">
.Fallout {
  display: flex;
  color: #555;
  overflow: hidden;

  > * {
    padding: 10px 0;
  }

  .CentreColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;

    .Special {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .Attributes {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .Current {
      width: 100%;
      display: flex;
      padding-top: 10px;

      &--leftColumn {
        width: 30%;
        display: flex;
        flex-direction: column;

        .InfoButton {
          margin-bottom: 10px;

          .DecayInfo,
          .LevelInfo,
          .TAInfo {
            // align-self: center;
            margin-top: 20px;
            // min-width: 250px !important;
          }
        }
      }

      &--rightColumn {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;

        > * {
          padding-top: 15px;
        }
      }
    }
  }

  .RightColumn {
    width: 30%;
    display: flex;
    flex-direction: column;
  }
}
strong.Limb {
  font-size: 18px;
}
.NotesAndTraits {
  display: flex;
  flex-direction: column;

  .TraitsAndPerks {
    display: flex;
    > * {
      width: 50%;
      padding: 0 5px;
    }
  }

  .Notes {
    width: 100%;
    margin: 10px 0;
  }
}
</style>
