<template>
  <div class="Pip">
    <q-input
      v-for="k in Object.keys(characterSheet.body)"
      :key="k"
      v-model="characterSheet.body[k]"
      :class="k + ' Limb ' + characterSheet.type.toLowerCase()"
      dense
      color="blue"
      outlined
      debounce="500"
      square
    />
    <img
      :src="src"
      alt="pip image"
    />
  </div>
</template>

<script>
import { decamelize } from 'humps'
import { computed } from 'vue'

import { useCharacterSheet } from 'src/stores/characterSheet'

export default {
  setup() {
    const characterSheet = useCharacterSheet()

    return {
      characterSheet,

      src: computed(() => {
        return characterSheet.type === 'STANDARD'
          ? 'pipBoy.png'
          : 'Protectron.png'
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.Pip {
  width: 500px;
  background: white;

  .Limb {
    position: absolute;
    width: 150px;
    background: white !important;
  }

  .head.standard {
    margin-top: 7px;
    margin-left: 325px;
  }
  .head.robot {
    margin-top: 4px;
    margin-left: 310px;
  }

  .leftArm.standard {
    margin-top: 64px;
  }

  .leftArm.robot {
    margin-top: 66px;
    margin-left: 10px;
  }

  .rightArm.robot {
    margin-left: 348px;
    margin-top: 92px;
  }

  .rightArm.standard {
    margin-left: 360px;
    margin-top: 70px;
  }

  .leftLeg.standard {
    margin-left: 3px;
    margin-top: 208px;
    width: 165px;
  }
  .leftLeg.robot {
    margin-left: 5px;
    margin-top: 215px;
    width: 167px;
  }

  .rightLeg.standard {
    margin-left: 345px;
    margin-top: 213px;
    width: 165px;
  }
  .rightLeg.robot {
    margin-left: 316px;
    margin-top: 235px;
    width: 165px;
  }

  > img {
    width: 500px;
  }
}
</style>
