<template>
  <div class="TallyCounter">
    <div
      v-show="border"
      class="TallyBorder"
    >
      &nbsp;
    </div>
    <div class="TallyCounter-Gauge">
      <button
        :class="upButtonClass"
        @click="buttonUp"
        @blur="toggleOtherNumberVisibility(true)"
      >
        <!-- @mousedown="start(buttonUp)"
        @mouseleave="stop(buttonUp)"
        @mouseup="stop(buttonUp)"
        @touchstart="start(buttonUp)"
        @touchend="stop(buttonUp)"
        @touchcancel="stop(buttonUp)" -->
        <i class="UpButton-arrow Gauge-arrow" />
      </button>
      <div
        v-for="(item, i) in items"
        :key="item"
        :class="itemClass(i, item)"
      >
        <template v-if="i === 3">
          <input
            class="Gauge-input"
            :name="name"
            :value="item"
            @blur="inputBlur"
            @focus="inputFocus"
          >
        </template>
        <template v-else>
          {{ !loop && disabledValue(item) ? '-' : item }}
        </template>
      </div>
      <button
        :class="downButtonClass"
        @click="buttonDown"
        @blur="toggleOtherNumberVisibility(true)"
      >
        <!-- @mousedown="start(buttonDown)"
        @mouseup="stop(buttonDown)"
        @mouseleave="stop(buttonDown)"
        @touchstart="start(buttonDown)"
        @touchend="stop(buttonDown)"
        @touchcancel="stop(buttonDown)" -->
        <i class="DownButton-arrow Gauge-arrow" />
      </button>
    </div>
  </div>
</template>

<script>
import * as Vue from 'vue'

const vueObject = { ...Vue }
const version = (vueObject.version && parseInt(vueObject.version) >= 3) ? 3 : 2

export default {
  name: 'VueTallyCounter',

  props: {
    value: {
      type: [String, Number],
      default: '00'
    },

    border: {
      type: Boolean,
      default: false
    },

    loop: {
      type: Boolean,
      default: false
    },

    max: {
      type: Number,
      default: 10000
    },

    min: {
      type: Number,
      default: -10000
    },

    name: {
      type: [String, Number],
      default: ''
    },

    refresh: {
      type: Boolean,
      default: false
    },

    showUnitsWhenInactive: {
      type: Boolean,
      default: false
    },

    time: {
      type: Boolean,
      default: false
    }
  },

  data() {
    return {
      d_max: isNaN(parseInt(this.max)) ? 1000000 : parseInt(this.max),
      d_min: isNaN(parseInt(this.min)) ? -1000000 : parseInt(this.min),
      disableTransition: false,
      hideOtherNumbers: !this.showUnitsWhenInactive,
      interval: undefined,
      items: this.setTallyCounterArray(parseInt(this.value) || 0)
    }
  },

  computed: {
    activeItem() {
      return this.items ? this.items[3] : (this.time ? '00' : 0)
    },

    downButtonClass() {
      return [
        'Gauge-button',
        'Gauge-DownButton'
      ]
    },

    upButtonClass() {
      return [
        'Gauge-button',
        'Gauge-UpButton'
      ]
    }
  },

  watch: {
    activeItem(newValue) {
      if (version < 3) this.$emit('input', newValue)
      else if (version >= 3) this.$emit('update:value', newValue)
    },

    refresh(newValue) {
      this.disableTransition = true
      this.items = this.setTallyCounterArray(parseInt(this.value))
      setTimeout(function () { this.disableTransition = false }.bind(this), 200)
    }
  },

  methods: {
    buildTimeValue(index, increment) {
      const item = increment === undefined ? index : (parseInt(this.items[index]) + increment)
      return this.time ? (item > 9 || item < 0 ? item + '' : '0' + item) : item
    },

    buttonDown() {
      if (this.items[3] > this.d_min || this.loop) {
        this.toggleOtherNumberVisibility(false)
        const loopEvent = parseInt(this.items[7]) - 1 < this.d_min
        this.items.shift()

        setTimeout(function () {
          if (this.loop && loopEvent) {
            this.items.push(this.buildTimeValue(this.d_max))
          } else this.items.push(this.buildTimeValue(this.items.length - 1, -1))
        }.bind(this), 1)
      }
    },

    buttonUp() {
      if (this.items[3] < this.d_max || this.loop) {
        this.toggleOtherNumberVisibility(false)
        const loopEvent = parseInt(this.items[0]) + 1 > this.d_max

        setTimeout(function () {
          if (this.loop && loopEvent) {
            this.items.unshift(this.buildTimeValue(this.d_min))
          } else this.items.unshift(this.buildTimeValue(0, 1))
          this.items.pop()
        }.bind(this), 1)
      }
    },

    disabledValue(item) {
      return (item > this.d_max || item < this.d_min)
        ? ' isDisabled'
        : ''
    },

    GaugeDown(i) {
      switch (i) {
        case 0: return 'GaugeTop-hid'
        case 1: return 'GaugeTop Gauge--down'
        case 2: return 'GaugeTop-mid Gauge--down'
        case 3: return 'GaugeMid Gauge--down'
        case 4: return 'GaugeBot-mid Gauge--up'
        case 5: return 'GaugeBot Gauge--up'
        case 6:
        case 7: return 'GaugeBot-hid Gauge--up'
      }
    },

    GaugeUp(i) {
      switch (i) {
        case 1:
        case 2: return 'GaugeTop-hid Gauge--up'
        case 3: return 'GaugeTop-mid Gauge--up'
        case 4: return 'GaugeMid Gauge--down'
        case 5: return 'GaugeBot-mid Gauge--down'
        case 6: return 'GaugeBot Gauge--down'
      }
    },

    itemClass(i, item) {
      return [
        'Gauge-item',
        { 'Gauge-item--noTransition': this.disableTransition },
        { 'isInactive': this.hideOtherNumbers },
        this.GaugeDown(i),
        this.disabledValue(item)
      ]
    },

    inputBlur(el) {
      const val = parseInt(el.target.value)
      this.disableTransition = true
      switch (true) {
        case isNaN(val):
          this.items = this.setTallyCounterArray(0)
          break

        case val > this.d_max:
          this.items = this.setTallyCounterArray(this.d_max)
          break

        case val < this.d_min:
          this.items = this.setTallyCounterArray(this.d_min, this.time)
          break

        default:
          this.items = this.setTallyCounterArray(val)
      }
      setTimeout(function () { this.disableTransition = false }.bind(this), 200)
    },

    inputFocus(el) {
      if (document.activeElement !== el) el.target.select()
      el.target.autocomplete = 'off'
    },

    setTallyCounterArray(value = 0) {
      const items = []
      for (let i = value + 3, j = 4; i >= value - 4; i--, j--) {
        let k
        if (this.loop) {
          if (i > this.max) k = this.min + j
          if (i < this.min) k = this.max + j
        }
        k = k !== undefined ? k : i
        items.push(this.time ? (k > -1 && k < 10 ? '0' + k : k + '') : k)
      }
      return items
    },

    start(callback) {
      this.interval = true
      setTimeout(function () {
        if (this.interval === true) {
          this.interval = setInterval(() => callback(), 85)
        }
      }.bind(this), 100)
    },

    stop() {
      clearInterval(this.interval)
      this.interval = false
      this.toggleOtherNumberVisibility(true)
    },

    toggleOtherNumberVisibility(trueFalse) {
      if (!this.showUnitsWhenInactive) this.hideOtherNumbers = trueFalse
    }
  }
}
</script>

<style lang="scss" scoped>
.TallyCounter-Gauge {
  color: #565656;
  display: flex;
  align-items: center;
  height: 200px;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-size: 18px;
  padding: 0;
  margin-top: -45px;

  input:focus,
  button:focus {
    outline: none;
  }
}

.TallyBorder {
  position: absolute;
  margin-left: -1px;
  margin-top: 14px;
  height: 70px;
  width: 21px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.Gauge-button {
  border: 0;
  cursor: pointer;
  background-color: transparent;
  z-index: 10;
  height: 15px;
  text-align: center;
}
.Gauge-DownButton {
  position: relative;
  bottom: 0px;
}
.Gauge-arrow {
  width: 0.1%;
  height: 0.1%;
  margin: auto;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  display: block;
}
.DownButton-arrow {
  border-top: 10px solid #565656;
}
.UpButton-arrow {
  border-bottom: 10px solid #565656;
}
.Gauge--down {
  transform-origin: top;
}
.Gauge--up {
  transform-origin: bottom;
}
.isDisabled {
  color: red;
}
.Gauge-item {
  position: relative;
  transition: all 0.085s ease-out;

  &--noTransition {
    transition: none !important;
  }
}
.GaugeTop-hid,
.GaugeBot-hid {
  opacity: 0;
  -ms-transform: scale(1, 0); /* IE 9 */
  -webkit-transform: scale(1, 0); /* Safari */
  transform: scale(1, 0);
  height: 0;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.GaugeTop,
.GaugeBot {
  opacity: 0.3;
  -ms-transform: scale(1, 0.15); /* IE 9 */
  -webkit-transform: scale(1, 0.15); /* Safari */
  transform: scale(1, 0.15);
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.GaugeTop {
  height: 5%;
}
.GaugeBot {
  height: 6%;
}
.isInactive:not(.GaugeMid) {
  opacity: 0;
}

.GaugeTop-mid,
.GaugeBot-mid {
  opacity: 0.7;
  -ms-transform: scale(1, 0.35); /* IE 9 */
  -webkit-transform: scale(1, 0.35); /* Safari */
  transform: scale(1, 0.35);
  height: 8%;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.GaugeMid {
  height: 12%;
}
.Gauge-input {
  text-align: center;
  font-size: inherit;
  padding: 0 !important;
  margin: auto !important;
  display: block;
  box-shadow: unset !important;
  border: 0 !important;
  color: inherit;
  background-color: transparent;
  width: 20px;
}
</style>
