<template>
  <q-card class="ModsTable">
    <q-card-section class="row right q-pb-none">
      <div class="text-h6">{{ name.toUpperCase() }} MODS</div>

      <q-space />

      <q-btn
        icon="close"
        flat
        round
        dense
        v-close-popup
      />
    </q-card-section>
    <q-card-section>
      <VSearchAndAdd
        :properties="properties"
        :modelValue="mods"
        @update:modelValue="$emit('update:mods', $event)"
      >
        <template #boxRow="{ row, index }">
          <div class="flex">
            <div>
              {{ row.name }}
            </div>

            <ModsInfo
              class="InfoButton"
              :row="row"
            />

            <div>
              <q-btn
                class="DeleteButton"
                icon="delete"
                size="sm"
                flat
                style="padding: 0 5px;"
                @click="$emit('removeMod', { index, mods })"
              />
            </div>
          </div>
        </template>

        <template #searchRow="{row }">
          {{ row.name }}
        </template>

        <template #resultDetails="{ result }">
          <template v-if="result">
            <q-card class="flex ModInfo">
              <q-card-section>
                <q-icon name="info" />
              </q-card-section>

              <q-card-section>
                <div
                  v-for="r in result.info"
                  :key="r"
                >
                  {{ r }}
                </div>
              </q-card-section>
            </q-card>
          </template>
        </template>
      </VSearchAndAdd>
    </q-card-section>
  </q-card>
</template>

<script>
import { computed, ref } from 'vue'

import VSearchAndAdd from 'src/components/VBase/VSearchAndAdd/index.vue'
import ModsInfo from './ModsInfo.vue'

const energy = window.$fallout.requestData('weapon/ranged/energyMods')
const ranged = window.$fallout.requestData('weapon/ranged/rangedMods')
const melee = window.$fallout.requestData('weapon/melee/mods')

export default {
  props: {
    mods: {
      type: Array,
      required: true
    },
    type: {
      type: String,
      required: true
    },
    category: {
      type: String,
      required: true
    },
    name: {
      type: String,
      required: true
    }
  },

  setup(props) {
    const modList = computed(() => {
      switch (true) {
        case props.type === 'unarmed' ||
          props.type === 'melee': return melee
        case props.category === 'energy weapon': return energy
        default: return ranged
      }
    })

    return {
      properties: computed(() => ({
        data:
          Object.keys(modList.value)
            .reduce((arr, key) => {
              arr.push({ name: key, info: modList.value[key] })
              return arr
            }, []),
        dialogTitle: 'Search mods',
      })),
    }
  },
  components: { VSearchAndAdd, ModsInfo }
}
</script>

<style lang="scss" scoped>
.ModsTable {
  width: 30%;
}

.ModInfo {
  align-items: center;
  // justify-content: center;
}
</style>
