<template>
  <div>
    <q-btn
      icon="info"
      size="sm"
      flat
      style="padding: 0 5px;"
      @click="showMoreInfo = true"
    />

    <q-dialog v-model="showMoreInfo">
      <VMoreInfo
        :data="row"
        title="MOD INFO"
      />
    </q-dialog>
  </div>
</template>

<script>
import { ref } from 'vue'
import VMoreInfo from 'src/components/VBase/VMoreInfo.vue'

export default {
  props: {
    row: {
      type: Object,
      required: true
    }
  },
  setup() {
    return { showMoreInfo: ref(false) };
  },
  components: { VMoreInfo }
}
</script>

<style lang="scss" scoped>
</style>
