<template>
  <div class="SpecialGroup">
    <SpecialNumberVue
      v-for="s in special"
      :key="s"
      :title="s"
    />
  </div>
</template>

<script>
import { ref } from 'vue'

import SpecialNumberVue from './SpecialNumber.vue'

const { SPECIAL } = window.$fallout.requestData('constants')

export default {
  setup() {
    const special = SPECIAL
    return { special };
  },
  data() {
    return {
    }
  },
  components: { SpecialNumberVue }
}
</script>

<style lang="scss" scoped>
.SpecialGroup {
  margin-top: 10px;
  display: flex;
}
</style>
