<template>
  <div class="SpecialNumber">
    <h4
      class="SpecialNumber-letter"
      v-text="firstLetter"
    />
    <fieldset class="SpecialNumber-box">

      <legend v-text="title.toUpperCase().substring(0, 3)" />
      <TallyCounter
        :value="characterSheet.special[title]"
        @update:value="characterSheet.special[title] = parseInt($event)"
        :min="0"
        :max="10"
      />

      <div class="SpecialNumber-buff">
        <div class="NumBox">
          <div v-text="plusMinus" />
          <div v-text="buff" />
        </div>
      </div>
    </fieldset>
  </div>
</template>

<script>
import { computed } from 'vue'

import { useCharacterSheet } from 'src/stores/characterSheet'
import TallyCounter from 'src/components/TallyCounter.vue'

export default {
  components: {
    TallyCounter,
  },
  props: {
    title: {
      type: String,
      default: ''
    }
  },

  setup(props) {
    const characterSheet = useCharacterSheet()
    const buff = computed(() => Math.abs(characterSheet.special[props.title] - 5))
    const plusMinus = computed(() => characterSheet.special[props.title] > 4 ? '+' : '-')
    const firstLetter = computed(() => props.title.toUpperCase().substring(0, 1))
    return { characterSheet, buff, firstLetter, plusMinus }
  },
}
</script>

<style lang="scss">
.SpecialNumber {
  display: flex;
  flex-direction: column;
  padding: 0 5px;

  &-letter {
    align-self: center;
    padding: 0 !important;
    margin: 0 !important;
    font-weight: bolder;
  }

  &-box {
    height: 160px;
    border: 1px solid #ccc;
    width: 100px;

    legend {
      text-align: center;
      font-size: 15px;
      padding: 0 5px;
    }
  }

  &-buff {
    position: relative;
    margin-top: -50px;
    margin-left: 5px;
    width: 100%;
    justify-content: flex-end;
    display: flex;
    font-weight: bold;

    .NumBox {
      display: flex;
      width: 20px;
      background: #555;
      color: #fff;
      padding: 0 2px;
    }
  }
}
</style>
