<template>
  <div>
    <VSearchAndAdd
      v-model="characterSheet.armors"
      :unique-search="false"
      :properties="properties"
      @dialog-closed="resetDialog"
    >
      <template #boxHeader>
        <ArmorTable
          :row="title"
          no-info
          title-row
          bold
        />
      </template>
      <template #boxRow="{ row, index }">
        <ArmorTable
          :row="row"
          @update:row="updateArmor(index, $event)"
          @remove-armor="removeArmor(index)"
        />
      </template>

      <template #searchFilters>
        <q-select
          label="Type"
          v-model="type"
          :options="armorTypes"
          icon="filter-alt"
        />
      </template>

      <template #searchRow="{ row }">
        <q-field
          class="SearchRow"
          borderless
          dense
          :hint="row.type"
          stack-label
        >
          <template v-slot:control>
            <div class="SearchRow-content">
              <div
                class="self-center full-width no-outline"
                tabindex="0"
                v-text="row.name"
              />
              <div
                class="self-center full-width no-outline"
                tabindex="0"
              >
                Cost: {{ row.cost }} caps
              </div>
            </div>
          </template>
        </q-field>
      </template>

      <template #resultDetails="{ result }">
        <q-card
          class="Armor-resultDetails"
          v-if="result"
        >
          <ResultTable
            :columns="resultColumns"
            :data="[result]"
            more-info-title="ARMOR INFO"
          />
        </q-card>
      </template>
    </VSearchAndAdd>
  </div>
</template>

<script>
import { computed, ref } from 'vue'


import VSearchAndAdd from 'src/components/VBase/VSearchAndAdd/index.vue'
import { useCharacterSheet } from 'src/stores/characterSheet'
import ArmorTable from './ArmorTable.vue'
import ResultTable from '../ResultTable.vue'

const { ARMOR_TYPES } = window.$fallout.requestData('constants')
const power = window.$fallout.requestData('armor/power')
const standard = window.$fallout.requestData('armor/standard')

export default {
  setup() {
    const characterSheet = useCharacterSheet()

    const type = ref("all")

    const resultColumns = [
      { align: 'left', field: 'name', name: 'name', label: 'Weapon Name' },
      { align: 'left', field: 'AC', name: 'AC', label: 'AC', style: 'width: 50px;' },
      { align: 'left', field: 'DT', name: 'DT', label: 'DT' },
      { align: 'left', field: 'carryLoad', name: 'carryLoad', label: 'carryLoad', style: 'width: 50px' },
    ]

    function resetDialog() { type.value = 'all' }

    function removeArmor(i) {
      characterSheet.armors[i].equipped = false
      characterSheet.armors.splice(i, 1)
    }

    function updateArmor(i, { key, value }) {
      characterSheet.armors[i][key] = ref(value)
    }

    const dialogTitle = computed(() => `Search ${type.value !== 'all' ? 'for ' + type.value : ''} Armors`)

    return {
      properties: {
        title: "ARMORS",
        data: [...standard, ...power],
        dialogTitle,
        props: {
          equipped: false,
          mods: [],
          condition: 0
        },
        filterCallback: val => (it) => {
          return (type.value !== 'all' ? it.type === type.value : true) &&
            it.name.toLowerCase().indexOf(val.toLowerCase()) > -1
        }
      },

      armorTypes: ARMOR_TYPES,
      characterSheet,
      resetDialog,
      resultColumns,
      title: ['name', 'AC', 'DT', 'carryLoad']
        .reduce((obj, it) => {
          obj[it] = it === 'carryLoad'
            ? 'LOAD'
            : it.toUpperCase()
          return obj
        }, {}),
      type,
      removeArmor,
      updateArmor,
    };
  },
  components: { VSearchAndAdd, ArmorTable, ResultTable }
}
</script>

<style lang="scss" scoped>
.Radiation {
  display: flex;

  > *:first-child {
    width: 60%;
  }
  > *:last-child {
    width: 40%;
  }
}
</style>
