<template>
  <fieldset class="Miscellaneous">
    <legend>JUNK & CUSTOM ITEMS</legend>
    <q-dialog
      v-model="prompt"
      persistent
    >
      <q-card style="min-width: 350px">
        <q-card-section>
          <div class="text-h6">
            ADD NEW ITEM
          </div>
        </q-card-section>

        <q-card-section>
          <div
            v-for="k in Object.keys(format)"
            :key="k"
            class="MiscDetails"
          >
            <div class="MiscDetails-detail">
              <template v-if="format[k].type === 'number'">
                <q-input
                  v-model.number="newForm[k]"
                  :label="k.toUpperCase()"
                  autofocus
                  type="number"
                />
              </template>
              <template v-else>
                <q-input
                  v-model="newForm[k]"
                  :autogrow="format[k].type === 'textarea'"
                  :label="k.toUpperCase()"
                  autofocus
                  counter
                />
              </template>
            </div>
          </div>
        </q-card-section>

        <q-card-actions
          align="right"
          class="text-primary"
        >
          <q-btn
            flat
            label="Cancel"
            @click="clearForm()"
            v-close-popup
          />

          <q-btn
            flat
            :disable="!newForm.name"
            label="Add"
            @click="addItem"
            v-close-popup
          />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <div
      v-if="characterSheet.misc.length"
      class="Miscellaneous-row"
    >
      <div>
        <BoxTable
          :row="title"
          no-info
          title-row
          bold
        />
      </div>

      <div>
        <BoxTable
          v-for="(row, index) in characterSheet.misc"
          :key="row._uid"
          :row="row"
          @update:row="updateItem(index, $event)"
          @remove-item="removeItem(index)"
        />
      </div>
    </div>
    <template v-else>
      <div class="Miscellaneous-row">
        - NONE -
      </div>
    </template>

    <div class="Miscellaneous-addButton">
      <q-btn
        round
        size="xs"
        color="secondary"
        icon="add"
        @click="openForm"
      />
    </div>
  </fieldset>
</template>

<script>
import { computed, ref } from 'vue'
import { cloneDeep, uniqueId } from 'lodash'

import { useCharacterSheet } from 'src/stores/characterSheet'
import BoxTable from '../BoxTable.vue'

const { MISCELLANEOUS_FORMAT } = window.$fallout.requestData('constants')

export default {
  setup() {
    const characterSheet = useCharacterSheet()

    const format = ref(MISCELLANEOUS_FORMAT)
    const newForm = ref({})
    const prompt = ref(false)

    function clearForm() {
      newForm.value = cloneDeep(
        Object.keys(format.value).reduce((obj, key) => {
          obj[key] = format.value[key].default
          return obj
        }, {}))
    }

    return {
      characterSheet,

      addItem() {
        characterSheet.misc.push({ _uid: uniqueId(Date.now() + '_'), ...cloneDeep(newForm.value) })
        clearForm()
      },

      removeItem(i) { characterSheet.misc.splice(i, 1) },

      updateItem(i, { key, value }) {
        characterSheet.misc[i][key] = ref(value)
      },

      clearForm,

      format,

      newForm,

      openForm() {
        prompt.value = true
        clearForm()
      },

      prompt,

      title: ['name', 'cost', 'quantity', 'carryLoad']
        .reduce((obj, it) => {
          obj[it] = it === 'carryLoad' ? 'LOAD' : it.toUpperCase()
          return obj
        }, {}),
    }
  },
  components: { BoxTable }
}
</script>

<style lang="scss" scoped>
.Miscellaneous {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  width: 99%;

  > legend {
    padding: 0 5px;
  }

  &-row {
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
  }

  &-addButton {
    padding-top: 5px;
    align-self: flex-end;
  }
}
</style>
