<template>
  <q-dialog
    v-model="prompt"
    persistent
  >
    <q-card style="min-width: 350px">
      <q-card-section>
        <div
          class="text-h6"
          v-text="properties.dialogTitle"
        />
      </q-card-section>

      <q-card-section class="q-pt-none">
        <slot name="searchFilters" />

        <q-select
          v-model="model"
          :option-label="properties.optionLabel || 'name'"
          :options="limitedOptions"
          map-options
          filled
          use-input
          :input-debounce="500"
          label="Search"
          color="teal"
          clearable
          options-selected-class="text-deep-orange"
          @filter="filterFn"
        >

          <template v-slot:no-option>
            <q-item>
              <q-item-section class="text-italic text-grey">
                No results
              </q-item-section>
            </q-item>
          </template>

          <template v-slot:option="scope">
            <q-item v-bind="scope.itemProps">
              <slot
                name="searchRow"
                :row="scope.opt"
              />
            </q-item>
          </template>
        </q-select>

        <slot
          name="resultDetails"
          :result="model"
        />
      </q-card-section>

      <q-card-actions
        align="right"
        class="text-primary"
      >
        <q-btn
          flat
          label="Cancel"
          @click="cancel"
          v-close-popup
        />
        <q-btn
          flat
          :disable="!hasResult"
          label="Add"
          @click="chosen"
          v-close-popup
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import { cloneDeep } from 'lodash'
import { nextTick, ref, watch, computed } from 'vue'

export default {
  props: {
    currentList: {
      type: Array,
      required: true
    },

    properties: {
      type: Object,
      required: true
    },

    value: {
      type: Boolean,
      default: false
    },

    filterOn: {
      type: String,
      default: 'name'
    }
  },

  setup(props, context) {
    const options = ref(cloneDeep(props.properties?.data))
    const prompt = ref(false)
    const model = ref(undefined)
    const hasResult = ref(false)

    watch(model, (newValue) => {
      hasResult.value = !!newValue
    })

    return {
      hasResult,
      options,
      model,
      prompt,

      limitedOptions: computed(() =>
        options.value.filter(
          it => !props.currentList.find(_it => _it[props.filterOn] === it[props.filterOn])) || []),

      cancel() {
        context.emit('dialogClosed')

        nextTick(() => (model.value = undefined))
      },

      chosen() {
        context.emit('dialogClosed')
        context.emit('chosen', cloneDeep(model.value))

        nextTick(() => (model.value = undefined))
      },

      filterFn(val, update) {
        update(() => {
          options.value = props.properties?.data?.filter(
            props.properties.hasOwnProperty('filterCallback')
              ? props.properties?.filterCallback(val.toLowerCase())
              : ((it) => it[props.filterOn].toLowerCase().indexOf(val.toLowerCase()) > -1)
          )
        })
      }
    }
  },
}
</script>

<style lang="scss" scoped>
</style>
