<template>
  <fieldset :class="boxClass">
    <legend
      v-if="properties.title"
      class="Box-title"
      v-text="properties.title"
    />
    <Dialog
      :current-list="uniqueSearch ? modelValue : []"
      :properties="properties"
      :filterOn="properties.filterOn"
      v-model="prompt"
      @chosen="chosen"
      @dialog-closed="$emit('dialogClosed')"
    >
      <template #searchFilters>
        <slot name="searchFilters" />
      </template>

      <template #searchRow="{ row }">
        <slot
          name="searchRow"
          :row="row"
        />
      </template>

      <template #resultDetails="{ result }">
        <slot
          name="resultDetails"
          :result="result"
        />
      </template>
    </Dialog>

    <div class="Box-modelValue">
      <template v-if="modelValue.length">
        <slot name="boxHeader" />
        <div
          class="BoxRow"
          v-for="(row, i) in modelValue"
          :key="row._uid"
        >
          <slot
            name="boxRow"
            :row="row"
            :index="i"
          />
        </div>
      </template>
      <template v-else>
        <div class="BoxRow">
          - NONE -
        </div>
      </template>
    </div>
    <div class="Box-addButton">
      <q-btn
        round
        size="xs"
        color="secondary"
        icon="add"
        @click="prompt = true"
      />
    </div>
  </fieldset>
</template>

<script>
import { cloneDeep, uniqueId } from 'lodash'
import { ref, computed, watch } from 'vue'
import Dialog from './Dialog.vue'

export default {
  components: {
    Dialog
  },

  props: {
    properties: {
      type: Object,
      default: () => ({
        title: 'title',
        dialogTitle: 'Search for ...',
        data: [],
        // props: { foo: 'default' }, // custom properties in addition to those provided in JSON
        filterCallback: val => it => it.toLowerCase().indexOf(val) > -1,
      })
    },

    uniqueSearch: {
      type: Boolean,
      default: true
    },

    modelValue: {
      type: Array,
      default: () => []
    },
  },

  setup(props, context) {
    return {
      address: ref(''),
      prompt: ref(false),

      chosen(result) {
        context.emit(
          'update:modelValue',
          props.modelValue.concat({
            ...result,
            ...props.properties?.props,
            _uid: uniqueId(Date.now() + '_')
          }))
      },

      boxClass: computed(() => [
        'Box',
        { 'Box--noBorder': !!props.properties?.title }
      ])
    }
  },
}
</script>

<style lang="scss" scoped>
.Box {
  width: 99%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;

  &--noTitle {
    border: 0 transparent !important;
  }

  &-title {
    padding: 0 5px;
  }
  &-modelValue {
    .BoxRow {
      width: 100%;
      padding: 5px 0;
      border-bottom: 1px solid #ccc;
    }
  }

  &-addButton {
    padding-top: 5px;
    align-self: flex-end;
  }
}
</style>
