<template>
  <router-view />
</template>

<script>
import { defineComponent, onMounted } from "vue";

import { useCharacterSheet } from "./stores/characterSheet";

export default defineComponent({
  name: "App",

  setup() {
    const characterSheet = useCharacterSheet()
    let initialised = false

    characterSheet.$subscribe(async (mutation, state) => {
      if (initialised) {
        const result = await window.$fallout.saveCharacterSheet(JSON.stringify(state))
        if (!result.success) console.error(result.error)
      }
    })

    onMounted(() => {
      try {
        const result = JSON.parse(window.$fallout.requestCharacterSheet())
        if (!result) throw 'failed'
        else characterSheet.$state = result
        initialised = true
      } catch (e) {
        alert('Your character sheet is invalid or missing!')
      }
    })
  }
})
</script>
