<template>
  <q-layout view="hHh Lpr lff">
    <q-header class="bg-green">
      <q-toolbar
        class="flex"
        style="justify-content: space-between"
      >
        <div>
          <q-btn
            flat
            dense
            icon="person"
            aria-label="person"
            @click="toggleLeftDrawer"
          >
            Show/Hide Personal Info
          </q-btn>
          &nbsp;|&nbsp;
          <q-radio
            dense
            color="white"
            keep-color
            v-model="characterSheet.type"
            val="STANDARD"
            label="HUMAN"
          />
          &nbsp;
          <q-radio
            dense
            color="white"
            keep-color
            v-model="characterSheet.type"
            val="ROBOT"
            label="ROBOT"
          />
        </div>

        <div>
          <q-btn
            flat
            dense
            icon="delete"
            aria-label="delete"
            @click="clearSheet"
          >
            Clear Sheet
          </q-btn>
          <!-- &nbsp;|&nbsp; -->
          <!-- <q-btn
            flat
            dense
            icon="workspace_premium"
            aria-label="workspace_premium"
            @click="toggleRightDrawer"
          >
            Show/Hide skills
          </q-btn> -->
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      bordered
    >
      <q-scroll-area class="fit">
        <q-card-section class="BasicSection">
          <Basics />
        </q-card-section>
        <hr>
        <q-card-section class="BasicSection">
          <Details />
        </q-card-section>

        <q-card-section
          v-if="characterSheet.type === 'STANDARD'"
          class="BasicSection"
        >
          <Sufferings />
        </q-card-section>
      </q-scroll-area>
    </q-drawer>
    <!--
    <q-drawer
      side="right"
      v-model="rightDrawerOpen"
      bordered
      :width="550"
      :breakpoint="500"
    >
      <q-scroll-area class="fit RightDrawer">

      </q-scroll-area>
    </q-drawer> -->

    <q-page-container class="flex">
      <router-view class="LeftPanel" />
      <div class="RightPanel">
        <SkillGroup />
        <div class="Equipment">
          <div class="Equipment-lAndC">
            <Load />
            <XP />
            <Caps />
          </div>
          <div class="Equipment-list">
            <strong>EQUIPMENT</strong>
            <Weapons />
            <Armors />
            <Equipment />
            <Miscellaneous />
          </div>
        </div>
      </div>
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from 'vue'

import { useCharacterSheet } from 'src/stores/characterSheet'

import Basics from 'src/components/layout/Basics.vue'
import Details from 'src/components/layout/Details.vue'
import SkillGroup from 'src/components/Skills/SkillGroup.vue'
import Load from 'src/components/Equipment/Load.vue'
import Weapons from 'src/components/Equipment/Weapons/index.vue'
import Caps from '../components/Equipment/Caps.vue'
import Armors from 'src/components/Equipment/Armors/index.vue'
import Equipment from 'src/components/Equipment/index.vue'
import Miscellaneous from 'src/components/Equipment/Miscellaneous/index.vue'
import Sufferings from 'src/components/Sufferings/index.vue'
import XP from 'src/components/Equipment/XP.vue'

const blankSheet = window.$fallout.requestData('BlankCharacterSheet')

export default defineComponent({
  name: 'MainLayout',

  components: {
    Basics,
    Details,
    SkillGroup,
    Load,
    Caps,
    Weapons,
    Armors,
    Equipment,
    Miscellaneous,
    Sufferings,
    XP,
  },

  setup() {
    const leftDrawerOpen = ref(true)
    const rightDrawerOpen = ref(true)
    const characterSheet = useCharacterSheet()

    return {
      characterSheet,
      leftDrawerOpen,
      rightDrawerOpen,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value
      },

      toggleRightDrawer() {
        rightDrawerOpen.value = !rightDrawerOpen.value
      },

      async clearSheet() {
        if (confirm('ARE YOU SURE YOU WANT TO CLEAR YOUR CHARACTER SHEET?\n\nTHIS CANNOT BE UNDONE')) {
          try {
            delete blankSheet.CAUTION
            if (!blankSheet) throw 'failed'
            else {
              characterSheet.$state = blankSheet
              alert('Success! It is recommended that you restart to see all the change take effect')
            }
          } catch (e) {
            alert('Failed to clear the sheet, did you remove the BLANK file?')
          }
        }
      }
    }
  }
})
</script>

<style lang="scss">
.BasicSection {
  margin-top: 10px;

  &:first-child {
    line-height: 50px;
  }

  dl {
    display: grid;
    grid-template-columns: 0.4fr auto;
    margin: 0;
    width: 100%;

    dt {
      font-weight: bold;
      width: 30%;
    }

    dd {
      width: 70%;
      border-bottom: 1px solid #ccc;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      cursor: pointer;
    }
  }
}
.LeftPanel {
  width: 70%;
  min-width: 800px;
}
.RightPanel {
  padding: 0 10px;
  width: 30%;
  min-width: 340px;
  .Equipment {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;

    &-lAndC {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    &-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 5px;
      margin: 5px;

      > legend {
        padding: 0 5px;
      }
    }
  }
}
</style>
