<template>
  <div>
    <VSearchAndAdd
      v-model="characterSheet.conditions"
      :properties="properties"
    >
      <template #boxRow="{ row, index }">
        {{ row.name }}

        <ConditionInfo :row="row" />

        <q-btn
          class="DeleteButton"
          icon="delete"
          size="sm"
          flat
          style="padding: 0 5px;"
          @click="removeCondition(index)"
        />
      </template>

      <template #searchRow="{ row }">
        {{ row.name }}
      </template>

      <template #resultDetails="{ result }">
        <template v-if="result">
          <VMoreInfo
            :omit="['name']"
            :data="result"
            no-header
          />
        </template>
      </template>
    </VSearchAndAdd>
  </div>
</template>

<script>
import { ref } from 'vue'
import { uniqueId } from 'lodash'

import { useCharacterSheet } from 'src/stores/characterSheet'

import ConditionInfo from './ConditionInfo.vue'

import VSearchAndAdd from 'src/components/VBase/VSearchAndAdd/index.vue'
import VMoreInfo from '../VBase/VMoreInfo.vue'

const conditions = window.$fallout.requestData('conditions/effects')

export default {
  setup() {
    const characterSheet = useCharacterSheet();

    return {
      characterSheet,

      properties: {
        title: 'CONDITIONS',
        data: Object.keys(conditions).reduce((arr, key) => {
          arr.push({ _uid: uniqueId(Date.now() + '_'), name: key, details: conditions[key] })
          return arr
        }, []),
        dialogTitle: 'CHOOSE A CONDITION'
      },

      removeCondition(i) {
        characterSheet.conditions.splice(i, 1)
      },

      showResultInfo: ref(false),
    };
  },
  components: { VSearchAndAdd, ConditionInfo, VMoreInfo }
}
</script>

<style lang="scss" scoped>
</style>
