<template>
  <div class="AttributeGroup">
    <AttributeNumber
      v-for="a in attributes"
      :key="a"
      :name="a"
    />
  </div>
</template>

<script>
import { computed } from 'vue'
import { without } from 'lodash'

import { useCharacterSheet } from 'src/stores/characterSheet'
import AttributeNumber from './AttributeNumber.vue'

const { ATTRIBUTES } = window.$fallout.requestData('constants')

export default {
  components: { AttributeNumber },

  setup() {
    const characterSheet = useCharacterSheet()

    const attributes = computed(() => characterSheet.type === 'STANDARD'
      ? without(ATTRIBUTES, 'decayThreshold', 'decayLevel')
      : without(ATTRIBUTES, 'staminaPoints', 'hitPoints', 'healingRate'))

    return { attributes, characterSheet }
  }
}
</script>

<style lang="scss" scoped>
.AttributeGroup {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
</style>
