<template>
  <div class="AttributeNumber">
    <div
      class="AttributeNumber-title"
      v-text="title"
    />

    <q-input
      v-if="typeof characterSheet.attributes[name] === 'number'"
      v-model.number="characterSheet.attributes[name]"
      debounce="500"
      class="AttributeNumber-input"
      type="number"
      lazy-rules
    />
    <template v-else>
      <div class="AttributeOfAttribute">
        <q-input
          v-model.number="characterSheet.attributes[name].current"
          debounce="500"
          class="AttributeNumber-input AttributeNumber-input--skinny"
          type="number"
          label="cur"
          min="0"
          max="999"
        />
        <q-input
          v-model.number="characterSheet.attributes[name].max"
          debounce="500"
          class="AttributeNumber-input AttributeNumber-input--skinny"
          type="number"
          label="max"
          min="0"
          max="999"
        />
      </div>
    </template>
  </div>
</template>

<script>
import { decamelize } from 'humps'
import { ref } from 'vue'

import { useCharacterSheet } from 'src/stores/characterSheet'

export default {
  props: {
    name: {
      type: String,
      required: true,
    }
  },

  setup(props) {
    const title = decamelize(props.name, { separator: ' ' }).toUpperCase()

    return { title, characterSheet: useCharacterSheet() }
  }
}
</script>

<style lang="scss" scoped>
.AttributeNumber {
  width: 100px;

  &-title {
    width: 55px;
  }

  &-input {
    width: 55px;
    justify-content: center;

    &--skinny {
      width: 45px;

      &:first-child {
        padding-right: 5px;
      }
      &:last-child {
        border-left: 1px solid #ccc;

        padding-left: 5px;
      }
    }
  }
}
.AttributeOfAttribute {
  display: flex;
  align-items: center;
  width: 100px;
}
</style>
